@if (isAdmin()){
    <a routerLink="/activities/new">Add activity</a>
}
<div class="searchBar">
    <input type="text" placeholder="Rechercher une activité..." (input)="searchTerm.set($any($event.target).value)" />
</div>

@for ( activity of filtredActivities(); track activity.uuid) {
    <div class="activity">
        <h3>{{activity.name}}</h3>
        <div class="description">{{activity.description}}</div>
        @if(isAdmin()){
            <div class="adminInsert">
                <span>active :  {{activity.isActive}}</span>
                <button class="deleteButton" (click)="delete(activity.uuid)">delete</button>
                <a [routerLink]="['/activities', activity.uuid, 'edit']">edit</a>
            </div>
        }
    </div>
}
